[key mykey]
key_location = ~/.ssh/mykey.rsa

#############################################
## AWS Credentials and Connection Settings ##
#############################################
[aws info]
# This is the AWS credentials section (required).
# These settings apply to all clusters
# replace these with your AWS keys
AWS_ACCESS_KEY_ID = xxxxxxx
AWS_SECRET_ACCESS_KEY = xxxxxxxx
# replace this with your account number
AWS_USER_ID= xxxxxxxxxxxx